.bg{background: url('img/bg.png');}

#capa{
	background: url('img/1.png');
}
#o-que-e-um-pre-processador{
	background: url('img/2.png');
}

#quais-existem{
	background: url('img/4.png');
}

#o-que-um-pre-processador-faz{
	background: url('img/3.png');
}